
*{
    margin:2px;
    font-family: 'Karla', sans-serif;
}
.normal{
    font-size:14px;
    font-weight:600;
    padding:15px 30px;
    color:#100;
    background-color:#fff;
    border-radius:4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition:0.2s;
    margin-top:15px;
}


h4{
    font-size:20px;
}
h2{
font-size:50px;
}

    #header{
    display:flex;
    align-items:right;
    justify-content:space-between;
    padding:20px 80px;
    background:#E3E6F3;
  
    position:sticky;
    top:0;
    left:0;
    box-shadow:0 5px 15px rgba(0,0,0,0.6);
    width:auto;
}
#navbar{
    display: flex;
    align-items:left;
    justify-content:center;
     
}
#navbar li{
   list-style: none;
    padding:0px 35px;
    position:relative;
}
#navbar li a{
    text-decoration: none;
    font-size:18px;
    font-weight:550;
    color:#1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:38%;
    height:2px;
    background:#088178;
    position:absolute;
    bottom:-4px;
    left:20px;
    transition:0.3s ease;

}
#hero{

background-color:lavender;
height:90vh;
width:auto;
display:flex;
flex-direction: column;
align-items:flex-start;
justify-content:center;

background-size: cover;
padding:0px 80px;
background-position: right 0;

}
#hero h4{

font-weight: 900;
font-size:25px;
margin-bottom:30px;



}
#hero h1{
    color:#088178;
    font-size:55px;
   top:-50px;


}
#hero h2{
    font-size: 55px;
 
}
#hero p{
    font-size:25px;
  
}
#hero button{
    background-color:transparent;
    color:#10a097;
    border:1px solid #088178;
    padding: 7px 15px 7px 20px;
    margin-top:10px;
 
    cursor:pointer;
    font-weight: 700;
    font-size:20px;
   

}
#product1{
    text-align: center;
    margin:6px;
   
}
#product1 h2{
    font-weight:bolder;
    font-size:50px;
}
#product1 p{
    font-size:20px;
}
#product1 .pro{
 border:1px solid hsl(129, 36%, 85%);
 padding:7px 12px;
 min-width: 100px;
 width:15%;
 cursor:pointer;
 margin:10px 0;
 border-radius: 8%;
 position:relative;

}
#product1 .pro-container{
    display:flex;
    justify-content:space-between;
    padding-top:30px;
    flex-wrap:wrap;
   
}
#product1 .pro-container .pro{
    margin: 50px;
}
#product1 .pro:hover{
  
    box-shadow: 20px 20px 30px rgb(0,0,0,0.06);
}
#product1 .pro img{
   width:100%;
   border-radius: 11%;
}
#product1 .pro-container .des{
    text-align:left;
    padding: 0px;
}
#product1 .pro-container .des span{
    color:gray;
    font-size:15px;
   margin-top:0;
}
#product1 .pro-container .des h3{
    font-size:16px;
    color:black;
}
#product1 .pro-container .des i{
    color:gold;
    font-size:12px;
  margin:0;

}
#product1 .pro-container .des h4{
    font-size:15px;
    font-weight:bolder;
    color:#088178;
}
#product1 .pro-container .pro .cart{
    border:1px solid #cce7d0;
    border-radius :50px;
    background-color:#e8f6ea;
    color:#088178;
    font-weight:700;
    position:absolute;
    bottom:25px;
    right:10px;
 height:40px;
 width:40px;
 line-height: 40px;

}
#banner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:lavender;
    width:auto;
    height:40vh;
    background-position:center;
}
#banner h4{
    font-size:15px;
}
#banner h2{
font-size:45px;
}
#banner h2 span{
    color:red;
}
 #banner .normal {
    font-size:14px;
    font-weight:600;
    padding:15px 30px;
    color:#100;
    background-color:#fff;
    border-radius:4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition:0.2s;
margin-top:70px;
}
#banner button:hover{
    background:#088178;
    color:#fff;

}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:50px;
}
#sm-banner .banner-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
   background-color:lavender;
     min-width:580px;
    height:50vh;
    background-size: cover;
    background-position:center;
   
}
#sm-banner  button:hover{
    background:#088178;
    color:#fff;
}
#vsm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:20px;
}
#vsm-banner .banner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    
   background-color:lavender;
     min-width:25%;
    height:30vh;
    background-size: cover;
    background-position:center;
    padding:20px;
    margin-bottom:20px;
}
#vsm-banner .banner h3{
    font-size:40px;
}
#vsm-banner .banner span{
    color: #088178;
}
#newsletter{
    display:flex;                         
    justify-content:space-between;
    flex-wrap: wrap;
   align-items: center;
    background-color:lavender;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    
}
#newsletter h4{
    font-size:26px;
    font-weight:800;
    color:black;
   margin:20px;
   margin-left:50px;


}
#newsletter p{
    font-size:17px;
    font-weight:700;
    color:#818ea0;
    margin:20px;
    margin-left: 50px;
    letter-spacing: 2px;
    
}
#newsletter p span{
color:#ffbd27;
}
#newsletter .form{
    display:flex;
    width:40%;
    margin-right:30px;
}
#newsletter   input{

height:3rem;
padding:0 1.25em;
margin-left:9em;
font-size:14px;
width:100%;
border:1px solid transparent;
border-radius: 4px;
outline:none;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
#newsletter .form button{
background-color: #088178;
color: #fff;
white-space: nowrap;
border-top-left-radius: 0;
border-bottom-left-radius: 0;

}
 footer{
     display : flex;
     flex-wrap:wrap;
     justify-content:space-between;

 }

 footer .col{
     display:flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 20px;
     margin:30px ;
 }
 #footer h4{
     font-size:18px;
     padding-bottom:20px;
 }
 #footer p{
    font-size:15px;
   margin: 0 0 8px 0;
}
footer a{
font-size: 14px;
text-decoration: none;
color:#222;
margin-bottom:10px;
}
footer .follow i:hover,
footer a:hover{
    color:#088178;

}
footer .copyright{
text-align:center;
width: 100%;
}



@media(max-width:768px){
   #navbar li{
       padding:0 24px;
   }
   #header{
       padding:40px 30px;
   }
   #navbar li a{
       font-size:23px;
   }
   #hero{
       height:52vh;
   }
   #product1 .pro-container {
  
    justify-content: center;
}

#product1 .pro {
    min-width: 230px;
}
#product1 .pro-container .pro {
    margin: 30px;
}

#product1 .pro-container .pro {
    margin: 0px;
}
#banner{
    height:30vh;
}
#newsletter h4 {
    font-size: 27px;
    
}

#product1 p {
    font-size: 20px;
}
#newsletter p {
   
    letter-spacing: 4px;
}

#newsletter .form button {
    margin-right: -39.5em;
    margin-bottom: 1em;
}
#newsletter   input {
    padding: 2px 4.25em;
    margin-left: 9em;
}
.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 15.3px 30px;
    color: #100;
    background-color: #fff;
    border-radius: 60px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 5px;
}
#newsletter   input {
    height: 3rem;
    padding: 0 1.25em;
    font-size: 17px;
    width: 71%;
    border: 1px solid transparent;
    border-radius: 60px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#product1 {
    text-align: center;
    margin: 0px;
}
    }
